.sidebar {
  &__container {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
    background-color: #fff;
    max-height: 400px;
    min-width: 400px;
    margin-bottom: 20px;

    @media (min-width: 1143px) {
      margin-bottom: 0;
    }
  }
}
